{% extends 'main.html' %}
{% load static %}
{% block body %}
<div class='page'>
    <p class='header'>Cassava Disease Classifier</p>
 
<form id='form' class='upload-box' >
        {% csrf_token %}
        <label for='upload'>
            <div class='loader' id='loader' style='display:none'></div>
            <p id='label'>click to upload an image </p>
            <img id='logo2' src="{% static 'images/logo.png'%}" />
        </label>
        <input 
            accept='image/*'
            id='upload' 
            type='file'
        />
        <button id='diagnoseButton'>diagnose</button>
</form>

<div class='result'  id='result' style='display:none'>
    
    <div class='image-rd7'>
        <img class='image' id='diagnosed-image' src="{% static 'images/logo.png'%}"/>
        <div class='diagnosis'>
            <p class='header'>Diagnosis</p>
            <div class='status'>
                <p id='status'class=''></p><i id='icon'></i>
            </div>
        </div>  
    </div>
  
    <div class='info'>
        <p class='text-1' id='text-1'></p>
        <p class='disease-name' id='disease-name'>Cassava Bacterial Blight</p>
        <div class='confidence'><p>Confidence</p> <span id='confidence'>50%</span></div>
    
    </div>

   <a  class='recommendations' >view recommendations</a>

    <button class='diagnose-again' id='diagnose-again'>diagnose another</button>
</div>
</div>
{% endblock %}