{% extends 'main.html' %}
{% load static %}
{% block body %}
<div class='recommendation-page'>
    <h1 class='header'>{{full_name}}</h1>

    <img class='disease-img'  src="{{ image }}"/>
    <div class='description-recommendations'>
        <h4 >Symptoms</h4>
        <p class='description'>
            {{description}}
        </p>


        <h4 class=''>Recommendations</h4>
        <div class='recommendations'>
            {% for recommendation in recommendations  %}
                <li>{{recommendation}}</li>
            {% endfor %}
            
        </div>

           
           
    </div>

</div>

{% endblock %}